# URL publique du site, utilisée pour les canonical/OG/sitemap
PUBLIC_SITE_URL=https://www.zdossantos.fr

# Google Analytics 4 – Measurement ID
# Remplace cette valeur si tu utilises un autre flux de mesure.
PUBLIC_GA_ID=xxxxxx

# Google Search Console
PUBLIC_GOOGLE_SITE_VERIFICATION=xxxxxx
