---
import '../styles/global.css';
import { ThemeProvider } from '../components/ThemeProvider';
import { Dock } from '../components/features/dock/Dock';
import { TooltipProvider } from '../components/ui/tooltip';
---

<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="zacharie, dos santos,dossantos, portfolio, dev, fullstack, developpeur, dijon, france, developpeur, web, nextjs" />
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="AKgIx9bxdB_uJ7h2DyJmHSRsBguhPl3Kh4SE84DXEu8" />
    <meta name="description" content="Portfolio de Zacharie Dos Santos, développeur web fullstack basé à dijon" />
    <link rel="canonical" href="https://zdossantos.fr/" />
    <title>Portfolio - Zacharie Dos Santos</title>
    <link rel="icon" type="image/png" href="/images/profile.webp" />
</head>
<body class="flex flex-col min-h-screen bg-background text-foreground">
<main class="flex-1 pb-16">
    <ThemeProvider client:load>
        <TooltipProvider>
            <slot />
        </TooltipProvider>
    </ThemeProvider>
</main>
<Dock client:load />
</body>
</html>
