---
import Header from '../components/Header';
import Footer from '../components/Footer';
import '../styles/global.css';
import { ThemeProvider } from '../components/ThemeProvider';

---

<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon Portfolio</title>
</head>
<body class="flex flex-col min-h-screen bg-background text-foreground">
<Header />
<main class="flex-1">
    <ThemeProvider client:load>
        <slot />
    </ThemeProvider>
</main>
<Footer />
</body>
</html>
