---
import Footer from '../components/Footer';
import '../styles/global.css';
import { ThemeProvider } from '../components/ThemeProvider';
import { Dock } from '../components/features/dock/Dock';
import { TooltipProvider } from '../components/ui/tooltip';
---

<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon Portfolio</title>
</head>
<body class="flex flex-col min-h-screen bg-background text-foreground">
<main class="flex-1">
    <ThemeProvider client:load>
        <TooltipProvider>
            <slot />
        </TooltipProvider>
    </ThemeProvider>
</main>
<Dock client:load />
<Footer client:load />
</body>
</html>
